''' @author: Beatriz, Daniel, Felipe, João, João, Marcelo;
    @team: Bureau SqPy;
    @version: 1.0.2
    @referenc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query
    @Theme: Análise de dados SPC-Brasil - Tabela: STG_FNT_ITT - Registro de todas as fontes de dados do SPC Brasil.
'''

In [1]:
import pandas as pd
low_memory=False
%matplotlib inline
import warnings; warnings.simplefilter("ignore")

In [2]:
filepath = '../../../1 - Tabelas Base'
filename = '/STG_FNT_ITT.xlsx'

path_erros = "../3 - Output/1 - Erros/"
path_validados = "../3 - Output/2 - Validados/"

##Lendo a tabela e atribuindo à df
df = pd.read_excel(filepath + filename, error_bad_lines=False, encoding='latin-1')

##Exibindo o dataframe da tabela
df

,ID_STG_FNT_ITT,NUM_CNPJ,NUM_CMP_CNPJ,NOM_COM,NOM_RAZ_SCL,DAT_INC_DBO
0,137,2427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
1,183,12182674487,2635,NMN,NMN,2019-12-19 13:43:41.914
2,197,16167328168,1802,NMN,NMN,2019-12-19 13:43:41.914
3,267,279925978,2329,NMN,NMN,2019-12-19 13:43:41.914
4,322,20579036860,2397,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
1003,87,11901046588,1972,NMN,NMN,2019-12-19 13:43:41.914
1004,105,17765603364,13056,NMN,NMN,2019-12-19 13:43:41.914
1005,118,17765603364,165138,NMN,NMN,2019-12-19 13:43:41.914
1006,124,17765603364,238697,NMN,NMN,2019-12-19 13:43:41.914
1007,125,17765603364,250206,NMN,NMN,2019-12-19 13:43:41.914

In [3]:
##Exibindo lista de colunas
df.columns

Index(['ID_STG_FNT_ITT', 'NUM_CNPJ', 'NUM_CMP_CNPJ', 'NOM_COM', 'NOM_RAZ_SCL',
       'DAT_INC_DBO'],
      dtype='object')

In [4]:
##renomeando as colunas
df = df.rename(columns={'ID_STG_FNT_ITT': 'Id', 'NUM_CNPJ': 'cnpj', 'NUM_CMP_CNPJ': 'cmp_cnpj', 'NOM_COM': 'nome_comercial',
                        'NOM_RAZ_SCL': 'nome_razao_social', 'DAT_INC_DBO': 'data_de_inclusao'})
##Ordenando as linhas pelo Id em ordem crescente
df.sort_values('Id')

,Id,cnpj,cmp_cnpj,nome_comercial,nome_razao_social,data_de_inclusao
316,1,9876194098,5406,SPP MRMSVL,PPNJJJJRMPMP NMPVPNML JVRVPJNTJS LPJVSTMS,2019-12-19 13:43:41.914
996,2,17968176180,3060,SJRMSM,SJRMSM JXPJRVMN,2019-12-19 13:43:41.914
997,3,3388575864,2159,MPM VVSTM,MPM VVSTM SJRVVPPS,2019-12-19 13:43:41.914
189,4,17939154800,2057,MMNK PJ MMJRVPM,MMNK PJ MMJRVPM MJRRVLL LYNPV MMNPP MZLTVPLP S.M.,2019-12-19 13:43:41.914
120,5,3448352913,1717,STMNJMRJ PVMRTJRJJ MMNK (MRMSVL) S.M.,STMNJMRJ PVMRTJRJJ MMNK (MRMSVL) S.M. - MMNPP ...,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
566,1021,1133325927,2210,NMN,NMN,2019-12-19 13:43:41.914
436,1022,2186049176,2737,NMN,NMN,2019-12-19 13:43:41.914
567,1023,5012274390,2788,NMN,NMN,2019-12-19 13:43:41.914
315,1024,2179698979,1751,NMN,NMN,2019-12-19 13:43:41.914
740,1025,17085140437,1700,MMNPP LZSP MRMSVLJVRP S/M,MMNPP LZSP MRMSVLJVRP S/M,2019-12-19 13:43:41.914

In [5]:
## Verificação da quantidade de caracteres

## transformar as colunas em str
df['cnpj'] = df['cnpj'].astype('str')
df['cmp_cnpj'] = df['cmp_cnpj'].astype('str')

## Utilizando a função describe() oara fornecer estatisticas sobre
# o comprimento dos dados da coluna cnpj para ajudar na compreenção do padrão
df.cnpj.str.len().describe()

count    1008.000000
mean       10.107143
std         0.826827
min         1.000000
25%        10.000000
50%        10.000000
75%        11.000000
max        11.000000
Name: cnpj, dtype: float64

In [6]:
## Criando a dataframe para conter as linhas corretas, já adicionando todas as liinhas cujo comprimento
## do cnpj mais o complemento tenha 14
df_correct = df[df['cnpj'].str.len() + df['cmp_cnpj'].str.len() == 14]

## Criar mais duas dataframes para tratamento dos campos, simulando o adicionar de zeros na frente do CNPJ 
df1 = df[df['cnpj'].str.len() + 1 + df['cmp_cnpj'].str.len() == 14]
df2 = df[df['cnpj'].str.len() + 2 + df['cmp_cnpj'].str.len() == 14]

In [7]:
## Concatenar as dataframes de tratamento (df1 e df2) à dataframe das linhas corretas
df_correct = pd.concat([df_correct,df1])
df_correct = pd.concat([df_correct,df2])

df_correct

,Id,cnpj,cmp_cnpj,nome_comercial,nome_razao_social,data_de_inclusao
0,137,2427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
5,336,6574465046,2465,NMN,NMN,2019-12-19 13:43:41.914
7,356,7422524275,2550,NMN,NMN,2019-12-19 13:43:41.914
13,481,9804044092,2958,NMN,NMN,2019-12-19 13:43:41.914
16,505,1178913365,2703,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
421,795,93607678,2873,NMN,NMN,2019-12-19 13:43:41.914
574,208,19764421,1819,NMN,NMN,2019-12-19 13:43:41.914
681,577,74917759,1938,NMN,NMN,2019-12-19 13:43:41.914
757,294,19937243,3162,NMN,NMN,2019-12-19 13:43:41.914
787,751,21919783,2295,NMN,NMN,2019-12-19 13:43:41.914

In [8]:
## Criando tabela para armazenar as linhas com erro, todas que não se encontram na tabela de corretas
df_error = df[~df.Id.isin(df_correct.Id)]
df_error

,Id,cnpj,cmp_cnpj,nome_comercial,nome_razao_social,data_de_inclusao
1,183,12182674487,2635,NMN,NMN,2019-12-19 13:43:41.914
2,197,16167328168,1802,NMN,NMN,2019-12-19 13:43:41.914
4,322,20579036860,2397,NMN,NMN,2019-12-19 13:43:41.914
12,458,20616228848,1972,NMN,NMN,2019-12-19 13:43:41.914
14,491,20041241384,1870,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
1003,87,11901046588,1972,NMN,NMN,2019-12-19 13:43:41.914
1004,105,17765603364,13056,NMN,NMN,2019-12-19 13:43:41.914
1005,118,17765603364,165138,NMN,NMN,2019-12-19 13:43:41.914
1006,124,17765603364,238697,NMN,NMN,2019-12-19 13:43:41.914
1007,125,17765603364,250206,NMN,NMN,2019-12-19 13:43:41.914

In [9]:
## Transformar as colunas cnpj e cmp_cnpj em int
df_correct['cnpj'] = df['cnpj'].astype('int64')
df_correct['cmp_cnpj'] = df['cmp_cnpj'].astype(int)
df_error['cnpj'] = df['cnpj'].astype('int64')
df_error['cmp_cnpj'] = df['cmp_cnpj'].astype(int)

## Renomear colunas novamente para a exportação
df_correct = df_correct.rename(columns={'Id': 'ID_STG_FNT_ITT', 'cnpj': 'NUM_CNPJ', 'cmp_cnpj': 'NUM_CMP_CNPJ', 'nome_comercial' : 'NOM_COM',
                        'nome_razao_social': 'NOM_RAZ_SCL', 'data_de_inclusao':  'DAT_INC_DBO'})
df_error = df_error.rename(columns={'Id': 'ID_STG_FNT_ITT', 'cnpj': 'NUM_CNPJ', 'cmp_cnpj': 'NUM_CMP_CNPJ', 'nome_comercial' : 'NOM_COM',
                        'nome_razao_social': 'NOM_RAZ_SCL', 'data_de_inclusao':  'DAT_INC_DBO'})

## Exportar df para xlsx ordenado pelo ID_STG_FNT_ITT em ordem crescente e sem index
df_correct.sort_values('ID_STG_FNT_ITT').to_excel(path_validados + "FNT_ITT.xlsx", index=False)
df_error.sort_values('ID_STG_FNT_ITT').to_excel(path_erros + "ERR_STG_FNT_ITT.xlsx", index=False)